@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/

html{
  font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォントの種類 */
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1rem;
    color: #4c4c4c;
    background-color: #fdfcf6;
}

.button-contact{
  border: 2px solid #4c4c4c;
  color: #4c4c4c;
  width: 20px;
  height: 20px;
  float: right;
  text-align: center;
  margin: 20px 20px 0 0;
  padding: 10px;
  font-size: 20px;
  line-height: 0;
  display: block;
  border-radius: 10px 0 10px 0;
}

.abel,
section h2{
    font-family: 'Abel', sans-serif; /* Google Fontsの指定 */
}

.uppercase,
  section h2,
  #skills h3,
  #works .works-box a .works-box-inner
  .button-readmore{
    text-transform: uppercase;
  }

.text-center{
  text-align: center;
}
  
header .profile{
  clear: both;
  width: 60%;
  margin: 0 auto;
  padding: 60px 0;
}

header .site-title{
  font-size: 1.8rem;
  line-height: normal;
}

header .site-title span{
  font-size: 4.2rem;
  display: block;
  color: #14c0c9;
}

.block-center,
section .container,
#skills i{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header .profile-icon{
  margin: 30px auto;
  border-radius: 50%;
}

header p{
  font-size: 1.6rem;
}

section{
  padding: 60px 0;
}

section .container{
  width: 90%;
}
section h2{
  font-size: 3.2rem;
}

#skills{
  background-color: #FF9999;
}
#skills .container{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
#skills h2{
  margin-bottom: 60px;
  color: #fdfcf6;
}

#skills .skill-box{
  box-sizing: border-box;
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fdfcf6;
}

#skills i{
  font-size: 4.5rem;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #14c0c9;
}

#skills h3{
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #14c0c9;
}

#works{
  padding-bottom: 0;
}
#works h2{
  margin-bottom: 50px;
}
#works .works-box{
  float: left;
  width: 33.333333%;
  height: 100%;
}

#works::after{
  display: block;
  clear: both;
  content: '';
}























#contact ul
{
    margin-top: 60px;

    text-align: center;
}
#contact ul li
{
    font-size: 2.8rem;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;

    text-align: center;
    vertical-align: top;
}
#contact ul li:last-child
{
    margin-right: 0;
}

#contact ul .github,
#contact ul .skype
{
    font-size: 3.2rem;
}
#contact ul .github i
{
    margin-left: 2px;
}

#contact ul a
{
    display: block;

    width: 50px;
    height: 50px;

    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #14c0c9;
}
#contact ul a:hover
{
    background-color: #0f949b;
}

footer
{
    padding: 10px 0;

    text-align: center;

    color: #fff;
    background-color: #bea300;
}